@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
* {
  font-family: "Roboto Mono", monospace;
}
body {
  background-color: #210758;
  /*height: 100vh;*/
}
/* for background*/
.for-back {
  background-image: url(/images/1218911.jpg);
  background-position: 50%;
  background-size: cover;
  display: table;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  font-family: "Roboto Mono", monospace;
}
/*010101010010100101001010100101*/

/*header maquetado */
.header1 {
  display: flex;
  background-color: #180540;
  color: white;
  border: 2px solid black;
  align-items: center;
  justify-content: flex-start;
  font-size: small;
  margin-bottom: 1px;
  
}
.header1 h1 {
  margin-left: 15px;
  font-size: 2rem;
  color: aqua;
}
/*010101010010100101001010100101*/
.myphoto {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
  margin-top: 15px;
}
.photo {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: 2px solid aqua;
  cursor: pointer;
  /*margin-left: 600px;*/
}
/*Configurar un Hover Aqui*/
.photo:hover {
  transition: 0.5s;
  width: 180px;
  height: 180px;
}
/*///////////////////////////*/

.hovername:hover {
  transition: 0.5s; 
  color: aqua;
  cursor: pointer;
}
.presentation {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: left;
  flex-direction: column;
  color: white;
  margin-left: 12px;
  background-color: rgba(0, 0, 0, 0.3);
}

.git {
  display: flex;
  font-size: 60px;
  
}
.git i{
  margin-right: 8px;
  margin-bottom: 40px;
}
.git i:hover {
  color: rgb(255, 0, 208);
  transition: 0.5s;
}
.presentation .git {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.678);
  color: white;
  margin-top: 2px;
  margin-bottom: 2px;
}
.skills i{
  font-size: 80px;
  margin-bottom: 15px;
}
.aboutme{
  width: 50%;
  text-align: left;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #180540;
  color: white;
  cursor: pointer;
  border: 2px solid black;
}
.networks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  height: 50px;
  /*margin: 0;
  padding: 0;*/
}
.networks i {
  font-size: 40px;
}

.networks i:hover {
  color: rgb(255, 0, 208);
  transition: 0.5s;
}
.upbtn {
  font-size: 50px;
}
@media screen and (max-width: 700px) {
  .photo {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    cursor: pointer;
  }
  .photo:hover {
    transition: 0.5s;
    width: 120px;
    height: 120px;
  }
  .git  {
    display: flex;
    font-size: 50px;
  }
  .skills i{
    font-size: 60px;
  }
  .presentation {
    font-size: 15px;
  }
  .header1 h1 {
    font-size: 20px;
  }
}
